@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
body{
    margin: 0;
    min-height: 100vh;
    font-size: 15px;
    background: #fafafa;
}

.component{
    text-align: center;
}

h1, h2, h3, h4, ul, li, a, p, input, label, button, div, footer{
    margin: 0;
    padding: 0;
    font-family: 'Quicksand', sans-serif;
    color: #444;
}

h1{
    text-align: center;
    margin: 3%;
}

h2{
    text-align: center;
    margin: 3%;
}

h3{
    margin: 3%;
}

p{
    margin: 3%;
}

ul{
    list-style-type: none;
}

.titleAdmin{
    text-align: center;  
}

nav{
    margin-bottom: 10vh;
    background-color: lightblue;
    padding:1rem 0 1rem 0;
}

nav a{
    text-transform: uppercase;
    font-weight: 900;
    font-size: 15px;
    padding:1rem 1rem 1rem 1rem;
    text-decoration: none;
}

nav a:hover {
    color: #fafafa;
    background: black;
}

nav a:active {
    color: #fafafa;
    background: black;
}

nav li a{
    text-transform: capitalize;

}

ul li a:hover {
    color: #fafafa;
    background: black;
}

ul li a:active {
    color: #fafafa;
    background: black;
}

.Toastify__close-button{
    margin-left: 30%;
}

.Toastify__toast-body{
    padding: 1rem;
}

.container{
    margin-top: 8%;
}

form.login{
    width: 20rem;
    margin: 0 auto;
    padding: 3rem;
    box-shadow: 0.1rem 0.1rem 0.1rem rgba(0,0,0,0.1);
    border-radius: 1rem;
    background: white;
}

input{
    padding: 0.8rem 0.2rem;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    border-radius: 0.4rem;
    border: 0.1rem solid #ddd;
    font-size: 1em;
    width: 100%;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

button{
    margin-top: 2rem;
    border-radius: 3rem;
    margin-right: 2%;
    margin-bottom: 1rem;
    background: #FEE996;
    border:0;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 0.8em;
    padding:1rem 1rem;
    letter-spacing: 0.1rem;
    cursor: pointer;
}

.formButton{
    margin-right: 100%;
}

#moveUp{
    position: relative;
    -webkit-animation: moveUp 2s  normal ease-out;
    animation: moveUp 2s normal ease-out;
}
@-webkit-keyframes moveUp {
    0% {
        top:200px;
    }
    100% {
        top: 0px;
    }
}
@keyframes moveUp {
    0% {
        top:200px;
    }
    100% {
        top: 0px;
    }
}

.welcome{
    margin-left: 15%;
    height: 10rem;
    width: 15rem;
}

.catalogue{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 1rem;
    row-gap: 2rem;
    margin-top: 5rem;
    margin-left: 5%;
    margin-right: 5%;
}

.product{
    border-radius: 1rem;
    background: lightblue;
    text-align: left;
    padding: 1rem;
}

.textBox{
    border-radius: 1rem;
    background: lightgrey;
    text-align: left;
    margin: 3%;
    padding: 1rem;
}

footer{
    text-align: center;
    margin-top: 10rem;
    color: black;
    background-color: lightblue;
    padding: 1%;
}

@media screen and (min-width:640px){   
    
    body{
        font-size: 1rem;
    }

    nav a{
        font-size: 1.5rem;
        padding:1rem 1.5rem 1rem 1.5rem;
    }

    form.login{
        width: 30rem;
    }

    .catalogue{
        grid-template-columns: 1fr 1fr 1fr;
        margin-left: 15%;
        margin-right: 15%;
    }

    .product{
        border-radius: 1rem;
        background: lightblue;
        text-align: left;
        padding: 1rem;
    }

    .textBox{
        border-radius: 1rem;
        background: lightgrey;
        text-align: left;
        margin: 3%;
        padding: 1rem;
    }

    .welcome{
        margin-left: 37%;
        height: 15rem;
        width: 20rem;
    }
}